Source: pajackconnect
Section: unknown
Priority: optional
Maintainer: hermann <brummer@org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/brummer10/pajackconnect
#Vcs-Git: https://anonscm.debian.org/collab-maint/pajackconnect.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/pajackconnect.git

Package: pajackconnect
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, debhelper (>= 9.20160709) | dh-systemd (>= 1.5) 
Description: Start/stop JACK on a system running PulseAudio via QjackCtl, includes systemd service file for Suspend.
